<!-- src/app/app.component.html -->
<mat-toolbar color="primary" class="header">
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Ma Collection de Livres - Decitre</span>
  <span class="spacer"></span>
  <ng-container *ngIf="isLoggedIn()">
    <button mat-button routerLink="/recherche">Recherche</button>
    <button mat-button routerLink="/collection">Collection</button>
  </ng-container>
  <ng-container *ngIf="user; else loginBtn">
    <span>{{ user.name }}</span>
    <button mat-icon-button (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </ng-container>
  <ng-template #loginBtn>
    <button mat-raised-button color="accent" (click)="navigateToLogin()">Se Connecter avec Google</button>
  </ng-template>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" [(opened)]="isSidenavOpen">
    <mat-nav-list style="padding: 16px 0;"> <!-- Ajout de padding vertical pour espacement -->
      <a mat-list-item routerLink="/recherche" (click)="closeSidenav()">Recherche</a>
      <a mat-list-item routerLink="/collection" *ngIf="isLoggedIn()" (click)="closeSidenav()">Ma Collection</a>
      <a mat-list-item routerLink="/login" *ngIf="!isLoggedIn()" (click)="closeSidenav()">Connexion</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar color="accent" class="footer">
  <span>© 2025 - Powered by go-decitre API</span>
</mat-toolbar>