<div class="content">
  <div *ngIf="isLoading" class="loading-central">
    <p>Chargement des détails...</p>
    <mat-progress-spinner mode="indeterminate" diameter="40" color="primary"></mat-progress-spinner>
  </div>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="over" position="end" [opened]="sidenavOpened" (closed)="sidenavOpened = false" hasBackdrop="true" class="author-sidenav">
      <div *ngIf="authorLoading" class="loading-central">
        <p>Chargement des détails de l'auteur...</p>
        <mat-progress-spinner mode="indeterminate" diameter="40" color="primary"></mat-progress-spinner>
      </div>

      <mat-card *ngIf="!authorLoading && authorDetails" class="author-card">
        <img *ngIf="authorDetails.photo" [src]="authorDetails.photo" [alt]="authorDetails.name" class="author-photo">
        <mat-card-content>
          <mat-card-title>{{ authorDetails.name }}</mat-card-title>
          <p>{{ authorDetails.biography }}</p>
          <p>Source : {{ authorDetails.source }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="sidenavOpened = false">Fermer</button>
        </mat-card-actions>
      </mat-card>

      <p *ngIf="!authorLoading && !authorDetails">Détails non trouvés pour l'auteur : {{ selectedAuthor }}</p>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-card *ngIf="!isLoading && book" class="book-card">
        <img mat-card-sm-image [src]="book.image" [alt]="book.title" class="book-image">
        <mat-card-content class="book-content">
          <mat-card-title class="book-title">{{ book.title }}</mat-card-title>
          <mat-card-subtitle>
            <span *ngFor="let author of book.authors; let last = last" (click)="openAuthorDetails(author)" class="author-link">{{ author }}{{ last ? '' : ', ' }}</span>
          </mat-card-subtitle>
          <p>Éditeur : {{ book.publisher }}</p>
          <p>Date de publication : {{ book.pub_date }}</p>
          <p>EAN : {{ book.ean }}</p>
          <p>Pages : {{ book.pages }}</p>
          <p>Format : {{ book.format }}</p>
          <p>Prix : {{ book.price }}</p>
          <p>Description : {{ book.description }}</p>
        </mat-card-content>
        <mat-card-actions class="book-actions">
          <button mat-button (click)="addToCollection()">Ajouter à la collection</button>
          <button mat-button routerLink="/recherche">Retour</button>
        </mat-card-actions>
      </mat-card>

      <p *ngIf="!isLoading && !book">Détails non trouvés pour le path : {{ path }}</p>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>