<div class="content">
  <mat-form-field appearance="fill" class="search-field">
    <mat-label>Rechercher un livre</mat-label>
    <input matInput [(ngModel)]="query" (keyup.enter)="searchBooks()" />
    <button mat-icon-button matSuffix (click)="clearSearch()" *ngIf="query">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="searchBooks()" [disabled]="isLoading">
    <ng-container *ngIf="!isLoading">Chercher</ng-container>
    <ng-container *ngIf="isLoading">
      Recherche en cours...
     <!--  <mat-progress-spinner mode="indeterminate" diameter="20" color="accent"></mat-progress-spinner> -->
    </ng-container>
  </button>

  <div *ngIf="isLoading" class="loading-central">
    <p>Recherche en cours...</p>
    <mat-progress-spinner mode="indeterminate" diameter="40" color="primary"></mat-progress-spinner>
  </div>

  <mat-list *ngIf="!isLoading && books.length > 0">
    <mat-list-item *ngFor="let book of books">
      <mat-card class="book-card">
        <img mat-card-sm-image [src]="book.image" [alt]="book.title" class="book-image">
        <mat-card-content class="book-content">
          <mat-card-title class="book-title">{{ book.title }}</mat-card-title>
          <mat-card-subtitle>{{ book.authors.join(', ') }}</mat-card-subtitle>
          <p>Éditeur : {{ book.publisher }}</p>
          <p>Prix : {{ book.price }}</p>
          <p>Format : {{ book.format }}</p>         
        </mat-card-content>
        <mat-card-actions class="book-actions">
          <button mat-button [routerLink]="['/book']" [queryParams]="{path: getBookPathFromLink(book.link)}">Détails</button>
          <button mat-button (click)="addToCollection(book)">Ajouter à la collection</button>
        </mat-card-actions>
      </mat-card>
    </mat-list-item>
  </mat-list>

  <p *ngIf="!isLoading && hasSearched && books.length === 0">Aucun résultat pour "{{ query }}". Essayez un autre terme.</p>
</div>